header {	
    background-image: linear-gradient( to right, #97A098 69%, #BE363A, Black 89% );
    /*background-image: linear-gradient( to right, #BCC2BD 69%, #BE363A, Black 89% ); 
    background-image: linear-gradient( to right, #C3CED5 69%, #E32018, #1C191D 89% );  */

      
    color: #251F21;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    height: 58px;
    display: flex;
    justify-content: center;
    z-index: 1001;
  }
  .logo {
    padding: 0.2em 0em;
    position: absolute;
    left: 0.5em;
  }
  .logo img {
    height: 49px;
  }
  .menubar {
      width: 15em;
      display: flex;
      justify-content: space-between;
  }
  .menuitem {
      padding: 0.75em 0em;
      color: #BE363A;
      cursor: pointer;
  }
  .active {
      border-bottom: #BE363A;
  }
