.speciesblock {
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem;
    min-width: 13rem;
    height: 13rem;
    transition: transform .1s;
    background-color: white;
    position:relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.species:hover {
    box-shadow: 4px 4px 12px rgba(0,0,0,.4);
}

.speciesfooter {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.english {
    font-size: .88rem;
    font-weight: 700;
}
.latin {
    color: #646464;
    font-size: .75rem;
    font-style: italic;
}
