
div.order {
	background-image: linear-gradient( to bottom, #7E5F62 30%, #C2A5A3 300% );
	/*background-color: Brown; */
	color: Black;
	padding: 0 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	/*color: #600;
	border-bottom: solid thin #600;
	font-weight: bold;
	font-size: 27px;
	padding: 0;
	margin: 0 0 0.2em 0;*/
}
div.family {
	background-image: linear-gradient( to bottom, #BE363A 30%, #C2A5A3 300% );
	/*background-color: #66CC33; */
	color: Black;
	padding: 0 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	/*color: green;
	border-bottom: solid thin green;
	font-weight: bold;
	font-size: 22px;
	padding: 0;
	margin: 0 0 0.2em 0;*/
}
div.subfamily {
	background-color: #C2A5A3;
	color: Black;
	padding: 0 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	/*color: green;
	font-weight: bold;
	font-size: 17.5px;
	padding: 0;
	margin: 0 0 0.2em 0;*/
}
div.tribe {
	background-color: #E8DAD9;
	color: Black;
	padding: 0 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	/*color: green;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	padding: 0;
	margin: 0 0 0.2em 0;*/
}
ul li div {
	/*padding-left: 0.4em;*/
	background-color: #bfbfbf;
	color: Black;
	padding: 0 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
}

ol {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
div.class {
	/*padding-left: 0.4em;*/
	background-color: #bfbfbf;
	color: Black;
	padding: 0 0.5em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
}