.iucnblock {
    top: .5rem;
    right: .5rem;
    border-radius: 10rem;
    padding: 0rem .4rem .2rem .4rem;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #d1e744;
    height: 0.75rem;
    float: right;
}
.iucn {
    font-size: .63rem;
    font-weight: 700;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.iucn-LC {
    background-color:#68bb53;
}
.iucn-NT {
    background-color:#d1e744;
}
.iucn-VU {
    background-color:#e5d42d;
}
.iucn-EN {
    background-color:#e77b4d;
}
.iucn-CR {
    background-color:#b61917;
}
.iucn-EW {
    background-color:#542344;
}
.iucn-EX {
    background-color:#000;
}
.iucn-FO {
    background-color:#000;
}
.iucn-DD {
    background-color:#595959;
}
.iucn-CR .iucn {
    color:#fff;
}
.iucn-EW .iucn {
    color:#fff;
}
.iucn-EX .iucn {
    color:#fff;
}
.iucn-FO .iucn {
    color:#fff;
}
.iucn-DD .iucn {
    color:#fff;
}