<section class="speciesview" [attr.id]="speciesTree.name">
  <div *ngIf="speciesTree.rank !== 'genus'">
    <header class="{{speciesTree.rank}}" class="speciestreeheader">
      <span *ngIf="speciesTree.category == 'EX' || speciesTree.category == 'FO'" class="extinct">†</span>
      <span class="famlatin">{{speciesTree.name}}</span>
      <span class="famenglish">{{speciesTree.englishName}}</span>
    </header>
    <section *ngIf="speciesTree.notes" class="notes">
      {{speciesTree.notes}}
    </section>
    <section class="genuslist">
      <div *ngFor="let speciesentry of speciesTree.children">
        <div *ngIf="speciesentry.rank == 'genus'">
          <app-genusblock [speciesTree]="speciesentry"></app-genusblock>
        </div>
      </div>
    </section>
    <section class="speciestreelist">
      <div *ngFor="let speciesentry of speciesTree.children">
        <div *ngIf="speciesentry.rank !== 'genus'">
          <app-speciestree [speciesTree]="speciesentry"></app-speciestree>
        </div>
      </div>
    </section>
  </div>
</section>
