:host {
  display: block;
  width: 100%;
  min-height: 100dvh;
  background-color: #f4f4f4;
}

.main-content {
  min-height: calc(100dvh - 58px);
  width: min(calc(100% - 2rem), 1400px);
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.23);
  background-color: #ffffff;
}