ul.treeMenuUl { 
    margin-left  : 0.3em;
    padding-left : 0;
}

ul.treeMenuUl li {
    border-left : 2px solid #ddd;
    display      : block;
    position     : relative;
    padding-left : 1.5em;
    margin-left  : -0.3em;
}

ul.treeMenuUl li:last-child{
    border-color : transparent;
}

ul.treeMenuUl li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : -0.95em;
    left         : -2px;
    width        : 1.5em;
    height       : 1.75em;
    border       : solid #ddd;
    border-width : 0 0 2px 2px;
}

ul.treeMenuUl li::after,
.treeMenuItem::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : 0.6em;
  left          : 1.3em;
  width         : 0.6em;
  height        : 0.6em;
  border-radius : 50%;
  background    : #ddd;
}

.treeMenuItem {
    display: flex;
    padding: 0em 1em;
    height: 2em;
}

.treeMenuItem a {
    display: flex;
    height: 100%;
}

.treeMenuLatin {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-style: italic;
    align-self: center;
    font-size: 1em;
    color: #646464;
}

.treeMenuEnglish {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-weight: bold;
    align-self: center;
    font-size: 1em;
}