.imageblock {
    height: 10rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageblock img {
    max-height: 90%;
    max-width: 90%;
    transform: scaleX(-1);
    margin: auto;
    transition: transform .1s;
    mix-blend-mode: multiply;
}

.extinct {
    opacity: 0.5;
}

.picturelist {
    display: flex;
    flex-flow: row nowrap;
}

.rangeblock {
    height: 10rem;
    width: 10rem;

}