<div class="picturelist">

  @if (speciesTree.asset) {
  <figure class="imageblock">
    <img src="https://cdn.download.ams.birds.cornell.edu/api/v1/asset/{{speciesTree.asset}}/160"
      alt="Picture of {{speciesTree.englishName}}" loading="lazy" [class.extinct]="
          speciesTree.category == 'FO' || speciesTree.category == 'EX' || speciesTree.category == 'CR (PE)'
        " />
  </figure>
  } @else {
  @if (speciesTree.picture) {
  <figure class="imageblock">
    <img src="/assets/pics/{{speciesTree.picture}}" alt="Picture of {{speciesTree.englishName}}" loading="lazy"
      [class.extinct]="
            speciesTree.category == 'FO' || speciesTree.category == 'EX' || speciesTree.category == 'CR (PE)'
          " />
  </figure>
  } @else {
  <figure class="imageblock">
    <img
      src="/assets/pics/placeholder.png" alt="Picture of {{speciesTree.englishName}} is not available" loading="lazy" [class.extinct]="
            speciesTree.category == 'FO' || speciesTree.category == 'EX' || speciesTree.category == 'CR (PE)'
          " />
  </figure>
  }
  }

  @for (speciesentry of speciesTree.children; track speciesentry) {
  @if (speciesentry.asset) {
  <figure class="imageblock">
    <img src="https://cdn.download.ams.birds.cornell.edu/api/v1/asset/{{speciesentry.asset}}/160"
      alt="Picture of {{speciesentry.englishName}}" loading="lazy" [class.extinct]="
            speciesentry.category == 'FO' || speciesentry.category == 'EX' || speciesentry.category == 'CR (PE)'
          " />
  </figure>
  }
  }
</div>