<section class="genusblock">
  <header class="genusheader">
    <span *ngIf="speciesTree.category == 'EX' || speciesTree.category == 'FO'" class="extinct">†</span>
    <span class="genus">{{speciesTree.name}}</span>
    <app-count [speciesTree]="speciesTree"></app-count>
  </header>
  <section class="specieslist">
    <div *ngFor="let speciesentry of speciesTree.children" class="speciescontainer">
      <app-speciesblock [speciesTree]="speciesentry"></app-speciesblock>
    </div>
  </section>
</section>