.genusblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0rem 6.5rem 1.5rem 1rem;
    background-color: #d5d8d5;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.genusheader {
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-size: .88rem;
    font-weight: 700;
}
.specieslist {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.extinct {
    padding-right: 0.1rem;
}