<section class="genusblock">
  <header class="genusheader">
    @if(speciesTree.category == 'EX' || speciesTree.category == 'FO'){
    <span class="extinct">†</span>
    }
    <span class="genus">{{speciesTree.name}}</span>
    <app-count [speciesTree]="speciesTree"></app-count>
  </header>
  <section class="specieslist">
    @for (speciesentry of speciesTree.children; track speciesentry) {
    <div class="speciescontainer">
      <app-speciesblock [speciesTree]="speciesentry"></app-speciesblock>
    </div>
    }
  </section>
</section>