
.infoblock:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.infoblock:hover .tooltip::after {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}
.infoblock {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    border-radius: 10rem;
    padding: 0rem .1rem .2rem .1rem;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #BE363A;
    color: #fff;
    height: 0.75rem;
    width: 0.75rem;
    font-size: .63rem;
    font-weight: 700;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    cursor: default;
    white-space: pre-wrap;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom:10px;
    padding: 0.75rem;
    width: 15rem;
    transform: translateX(-30%);
    background-color: #BE363A;
    color: #fff;
    border-radius: 8px;
    opacity: 0;
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    filter: drop-shadow(0 0 0.5rem #BE363A);
    z-index: 100;
    font-weight: 600;
    font-size: .7rem;
}
.tooltip::after {
    content: "";
    position:absolute;
    top: 100%;
    left: 30%;
    margin-bottom:-5px;
    transform:translateX(-50%);
    border:10px solid #000;
    border-color: #BE363A transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}