<section id="familymenu" class="famvis">
  @if (familyMenu().length > 0) {
    @for (group of familyMenu(); track group.name) {
      <div class="mlist">
        <dl class="mblock">
          <dd class="morder">
            <a 
              [routerLink]="['/clade', group.name]" 
              class="mlink" 
              (click)="menuService.close()"
            >
              <span>{{ group.name.toUpperCase() }}</span>
            </a>
          </dd>

          @for (family of group.children; track family.latin) {
            <dt class="mfamily">
              <div class="smallimage">
                <img 
                  [src]="'https://cdn.download.ams.birds.cornell.edu/api/v1/asset/' + family.picNum + '/160'" 
                  [alt]="family.english" 
                  loading="lazy"
                  decoding="async"
                />
              </div>

              <a 
                [routerLink]="['/clade', family.main]" 
                [fragment]="family.latin" 
                class="mlink" 
                (click)="menuService.close()"
              >
                <span class="mlatin">{{ family.latin }}</span>
                <span class="menglish">{{ family.english }}</span>
              </a>
            </dt>
          }
        </dl>
      </div>
    }
  }
</section>