@let pt = partialtree();
@let sp = species();

<section class="speciestree">
  @if(sp){
  <div class="speciestreeblock">
    <app-speciestree [speciesTree]="sp"></app-speciestree>
  </div>
  }

  @if(pt){
  <div class="partialfamilytree">
    <div class="{{pt.rank}}" class="treeMenuItem">
      <a routerLink="/clade/{{pt.main}}" fragment="{{pt.name}}">
        @if(pt.picNum){
        <figure class="treeMenuImage">
          <img src="https://cdn.download.ams.birds.cornell.edu/api/v1/asset/{{pt.picNum}}/160" loading="lazy" />
        </figure>
        }

        <span class="treeMenuLatin">{{pt.latin}}</span>
        <span class="treeMenuEnglish">{{pt.english}}</span>
      </a>
    </div>

    <app-familytree [familyTree]="pt"></app-familytree>
  </div>
  }
</section>