<section class="speciestree">
  <div *ngIf="species$ | async; let species" class="speciestreeblock">
    <app-speciestree [speciesTree]="species"></app-speciestree>
  </div>
  <div *ngIf="partialtree$ | async; let partialtree" class="partialfamilytree">
    <div class="{{partialtree.rank}}" class="treeMenuItem">
      <a routerLink="/clade/{{partialtree.main}}" fragment="{{partialtree.name}}">
        <figure *ngIf="partialtree.picNum" class="treeMenuImage">
          <img src="https://cdn.download.ams.birds.cornell.edu/api/v1/asset/{{partialtree.picNum}}/160" loading="lazy"/>
        </figure>
        <span class="treeMenuLatin">{{partialtree.latin}}</span>
        <span class="treeMenuEnglish">{{partialtree.english}}</span>
      </a>
    </div>
    <app-familytree [familyTree]="partialtree"></app-familytree>
  </div>
</section>
