<ul class="treeMenuUl">
  @for (familyTree of familyTree.children; track familyTree.name) {
  <li class="{{familyTree.rank}}">
    <div class="{{familyTree.rank}}" class="treeMenuItem">
      <a routerLink="/clade/{{familyTree.main}}" fragment="{{familyTree.name}}">
        @if(familyTree.picNum){
        <figure class="treeMenuImage">
          <img src="https://cdn.download.ams.birds.cornell.edu/api/v1/asset/{{familyTree.picNum}}/160" loading="lazy" />
        </figure>
        }

        @if(familyTree.picName){
        <figure class="treeMenuImage">
          <img src="/assets/pics/{{familyTree.picName}}" loading="lazy" />
        </figure>
        }

        <span class="treeMenuLatin">{{familyTree.latin}}</span>
        <span class="treeMenuEnglish">{{familyTree.english}}</span>
      </a>
    </div>
    <app-familytree [familyTree]="familyTree"></app-familytree>
  </li>
  }
</ul>