ul.treeMenuUl { 
    margin-left  : 0.3rem;
    padding-left : 0;
}

ul.treeMenuUl li {
    border-left : 2px solid #ddd;
    display      : block;
    position     : relative;
    padding-left : 1.5rem;
    margin-left  : -0.3rem;
}

ul.treeMenuUl li:last-child{
    border-color : transparent;
}

ul.treeMenuUl li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : -0.95rem;
    left         : -2px;
    width        : 1.5rem;
    height       : 2rem;
    border       : solid #ddd;
    border-width : 0 0 2px 2px;
}

ul.treeMenuUl li::after,
.treeMenuItem::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : 0.85rem;
  left          : 1.3rem;
  width         : 0.6rem;
  height        : 0.6rem;
  border-radius : 50%;
  background    : #ddd;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.treeMenuItem {
    display: flex;
    padding: 0em 1rem;
    height: 2.25rem;
}

.treeMenuItem a {
    display: flex;
    height: 100%;
}

.treeMenuLatin {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-style: italic;
    align-self: center;
    color: #646464;
}

.treeMenuEnglish {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: bold;
    align-self: center;
}

.treeMenuImage {
    display: flex;
}

.treeMenuImage img {
    max-height:2.25rem; 
    max-width:2.25rem;
    mix-blend-mode: multiply;
    align-self: center;
}