<ul class="treeMenuUl">
  @for (child of familyTree.children; track child.name) {
    <li 
      [class]="child.rank" 
      [attr.data-tree-node]="child.latin || child.name"
    >
      <div [class]="'treeMenuItem ' + child.rank">
        <a [routerLink]="['/clade', child.main]" [fragment]="child.name">
          @if (child.picNum) {
            <figure class="treeMenuImage">
              <img 
                [src]="'https://cdn.download.ams.birds.cornell.edu/api/v1/asset/' + child.picNum + '/160'" 
                [alt]="child.english || child.latin"
                loading="lazy" 
                decoding="async"
              />
            </figure>
          }

          @if (child.picName) {
            <figure class="treeMenuImage">
              <img 
                [src]="'/assets/pics/' + child.picName" 
                [alt]="child.english || child.latin"
                loading="lazy" 
                decoding="async"
              />
            </figure>
          }

          <span class="treeMenuLatin">{{ child.latin }}</span>
          <span class="treeMenuEnglish">{{ child.english }}</span>
        </a>
      </div>

      <!-- Recursive tree rendering -->
      @if (child.children && child.children.length > 0) {
        <app-familytree [familyTree]="child"></app-familytree>
      }
    </li>
  }
</ul>